# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# Telegram Session
*.session

# Firebase Credentials
config/firebase-json.json

# Logs
logs/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db